.bg {
  height: 600px;
  width: 800px;
  overflow: hidden;
  position: relative;
}

.group {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

span {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  left: 50%;
  top: 50%;
}

.group:nth-child(1) span {
  border-width: 103.92px 60px;
  margin-left: -60px;
  margin-top: -103.92px;
}

.group:nth-child(1) span:nth-child(1) {
  transform: rotate(60deg) translateX(120px);
  animation: ani1-1 1s infinite;
}

@keyframes ani1-1 {
  100% {
    transform: rotate(60deg) translateX(220px);
  }
}
.group:nth-child(1) span:nth-child(2) {
  transform: rotate(120deg) translateX(120px);
  animation: ani1-2 1s infinite;
}

@keyframes ani1-2 {
  100% {
    transform: rotate(120deg) translateX(220px);
  }
}
.group:nth-child(1) span:nth-child(3) {
  transform: rotate(180deg) translateX(120px);
  animation: ani1-3 1s infinite;
}

@keyframes ani1-3 {
  100% {
    transform: rotate(180deg) translateX(220px);
  }
}
.group:nth-child(1) span:nth-child(4) {
  transform: rotate(240deg) translateX(120px);
  animation: ani1-4 1s infinite;
}

@keyframes ani1-4 {
  100% {
    transform: rotate(240deg) translateX(220px);
  }
}
.group:nth-child(1) span:nth-child(5) {
  transform: rotate(300deg) translateX(120px);
  animation: ani1-5 1s infinite;
}

@keyframes ani1-5 {
  100% {
    transform: rotate(300deg) translateX(220px);
  }
}
.group:nth-child(1) span:nth-child(6) {
  transform: rotate(360deg) translateX(120px);
  animation: ani1-6 1s infinite;
}

@keyframes ani1-6 {
  100% {
    transform: rotate(360deg) translateX(220px);
  }
}
.group:nth-child(1) span:nth-child(7) {
  transform: rotate(180deg) translate(180px, 103.92px);
}

.group:nth-child(1) span:nth-child(8) {
  transform: rotate(240deg) translate(180px, 103.92px);
}

.group:nth-child(1) span:nth-child(9) {
  transform: rotate(300deg) translate(180px, 103.92px);
}

.group:nth-child(1) span:nth-child(10) {
  transform: rotate(360deg) translate(180px, 103.92px);
}

.group:nth-child(1) span:nth-child(11) {
  transform: rotate(420deg) translate(180px, 103.92px);
}

.group:nth-child(1) span:nth-child(12) {
  transform: rotate(480deg) translate(180px, 103.92px);
}

.group:nth-child(1) span:nth-child(13) {
  transform: rotate(540deg) translate(120px, 207.84px);
}

.group:nth-child(1) span:nth-child(14) {
  transform: rotate(600deg) translate(120px, 207.84px);
}

.group:nth-child(1) span:nth-child(15) {
  transform: rotate(660deg) translate(120px, 207.84px);
}

.group:nth-child(1) span:nth-child(16) {
  transform: rotate(720deg) translate(120px, 207.84px);
}

.group:nth-child(1) span:nth-child(17) {
  transform: rotate(780deg) translate(120px, 207.84px);
}

.group:nth-child(1) span:nth-child(18) {
  transform: rotate(840deg) translate(120px, 207.84px);
}

.group:nth-child(2) span {
  border-width: 51.96px 30px;
  margin-left: -30px;
  margin-top: -51.96px;
}

.group:nth-child(2) span:nth-child(1) {
  transform: rotate(60deg) translateX(60px);
  animation: ani2-1 1s infinite;
}

@keyframes ani2-1 {
  100% {
    transform: rotate(60deg) translateX(160px);
  }
}
.group:nth-child(2) span:nth-child(2) {
  transform: rotate(120deg) translateX(60px);
  animation: ani2-2 1s infinite;
}

@keyframes ani2-2 {
  100% {
    transform: rotate(120deg) translateX(160px);
  }
}
.group:nth-child(2) span:nth-child(3) {
  transform: rotate(180deg) translateX(60px);
  animation: ani2-3 1s infinite;
}

@keyframes ani2-3 {
  100% {
    transform: rotate(180deg) translateX(160px);
  }
}
.group:nth-child(2) span:nth-child(4) {
  transform: rotate(240deg) translateX(60px);
  animation: ani2-4 1s infinite;
}

@keyframes ani2-4 {
  100% {
    transform: rotate(240deg) translateX(160px);
  }
}
.group:nth-child(2) span:nth-child(5) {
  transform: rotate(300deg) translateX(60px);
  animation: ani2-5 1s infinite;
}

@keyframes ani2-5 {
  100% {
    transform: rotate(300deg) translateX(160px);
  }
}
.group:nth-child(2) span:nth-child(6) {
  transform: rotate(360deg) translateX(60px);
  animation: ani2-6 1s infinite;
}

@keyframes ani2-6 {
  100% {
    transform: rotate(360deg) translateX(160px);
  }
}
.group:nth-child(2) span:nth-child(7) {
  transform: rotate(180deg) translate(90px, 51.96px);
}

.group:nth-child(2) span:nth-child(8) {
  transform: rotate(240deg) translate(90px, 51.96px);
}

.group:nth-child(2) span:nth-child(9) {
  transform: rotate(300deg) translate(90px, 51.96px);
}

.group:nth-child(2) span:nth-child(10) {
  transform: rotate(360deg) translate(90px, 51.96px);
}

.group:nth-child(2) span:nth-child(11) {
  transform: rotate(420deg) translate(90px, 51.96px);
}

.group:nth-child(2) span:nth-child(12) {
  transform: rotate(480deg) translate(90px, 51.96px);
}

.group:nth-child(2) span:nth-child(13) {
  transform: rotate(540deg) translate(60px, 103.92px);
}

.group:nth-child(2) span:nth-child(14) {
  transform: rotate(600deg) translate(60px, 103.92px);
}

.group:nth-child(2) span:nth-child(15) {
  transform: rotate(660deg) translate(60px, 103.92px);
}

.group:nth-child(2) span:nth-child(16) {
  transform: rotate(720deg) translate(60px, 103.92px);
}

.group:nth-child(2) span:nth-child(17) {
  transform: rotate(780deg) translate(60px, 103.92px);
}

.group:nth-child(2) span:nth-child(18) {
  transform: rotate(840deg) translate(60px, 103.92px);
}

.group:nth-child(3) span {
  border-width: 25.98px 15px;
  margin-left: -15px;
  margin-top: -25.98px;
}

.group:nth-child(3) span:nth-child(1) {
  transform: rotate(60deg) translateX(30px);
  animation: ani3-1 1s infinite;
}

@keyframes ani3-1 {
  100% {
    transform: rotate(60deg) translateX(130px);
  }
}
.group:nth-child(3) span:nth-child(2) {
  transform: rotate(120deg) translateX(30px);
  animation: ani3-2 1s infinite;
}

@keyframes ani3-2 {
  100% {
    transform: rotate(120deg) translateX(130px);
  }
}
.group:nth-child(3) span:nth-child(3) {
  transform: rotate(180deg) translateX(30px);
  animation: ani3-3 1s infinite;
}

@keyframes ani3-3 {
  100% {
    transform: rotate(180deg) translateX(130px);
  }
}
.group:nth-child(3) span:nth-child(4) {
  transform: rotate(240deg) translateX(30px);
  animation: ani3-4 1s infinite;
}

@keyframes ani3-4 {
  100% {
    transform: rotate(240deg) translateX(130px);
  }
}
.group:nth-child(3) span:nth-child(5) {
  transform: rotate(300deg) translateX(30px);
  animation: ani3-5 1s infinite;
}

@keyframes ani3-5 {
  100% {
    transform: rotate(300deg) translateX(130px);
  }
}
.group:nth-child(3) span:nth-child(6) {
  transform: rotate(360deg) translateX(30px);
  animation: ani3-6 1s infinite;
}

@keyframes ani3-6 {
  100% {
    transform: rotate(360deg) translateX(130px);
  }
}
.group:nth-child(3) span:nth-child(7) {
  transform: rotate(180deg) translate(45px, 25.98px);
}

.group:nth-child(3) span:nth-child(8) {
  transform: rotate(240deg) translate(45px, 25.98px);
}

.group:nth-child(3) span:nth-child(9) {
  transform: rotate(300deg) translate(45px, 25.98px);
}

.group:nth-child(3) span:nth-child(10) {
  transform: rotate(360deg) translate(45px, 25.98px);
}

.group:nth-child(3) span:nth-child(11) {
  transform: rotate(420deg) translate(45px, 25.98px);
}

.group:nth-child(3) span:nth-child(12) {
  transform: rotate(480deg) translate(45px, 25.98px);
}

.group:nth-child(3) span:nth-child(13) {
  transform: rotate(540deg) translate(30px, 51.96px);
}

.group:nth-child(3) span:nth-child(14) {
  transform: rotate(600deg) translate(30px, 51.96px);
}

.group:nth-child(3) span:nth-child(15) {
  transform: rotate(660deg) translate(30px, 51.96px);
}

.group:nth-child(3) span:nth-child(16) {
  transform: rotate(720deg) translate(30px, 51.96px);
}

.group:nth-child(3) span:nth-child(17) {
  transform: rotate(780deg) translate(30px, 51.96px);
}

.group:nth-child(3) span:nth-child(18) {
  transform: rotate(840deg) translate(30px, 51.96px);
}

.group:nth-child(4) span {
  border-width: 12.99px 7.5px;
  margin-left: -7.5px;
  margin-top: -12.99px;
}

.group:nth-child(4) span:nth-child(1) {
  transform: rotate(60deg) translateX(15px);
  animation: ani4-1 1s infinite;
}

@keyframes ani4-1 {
  100% {
    transform: rotate(60deg) translateX(115px);
  }
}
.group:nth-child(4) span:nth-child(2) {
  transform: rotate(120deg) translateX(15px);
  animation: ani4-2 1s infinite;
}

@keyframes ani4-2 {
  100% {
    transform: rotate(120deg) translateX(115px);
  }
}
.group:nth-child(4) span:nth-child(3) {
  transform: rotate(180deg) translateX(15px);
  animation: ani4-3 1s infinite;
}

@keyframes ani4-3 {
  100% {
    transform: rotate(180deg) translateX(115px);
  }
}
.group:nth-child(4) span:nth-child(4) {
  transform: rotate(240deg) translateX(15px);
  animation: ani4-4 1s infinite;
}

@keyframes ani4-4 {
  100% {
    transform: rotate(240deg) translateX(115px);
  }
}
.group:nth-child(4) span:nth-child(5) {
  transform: rotate(300deg) translateX(15px);
  animation: ani4-5 1s infinite;
}

@keyframes ani4-5 {
  100% {
    transform: rotate(300deg) translateX(115px);
  }
}
.group:nth-child(4) span:nth-child(6) {
  transform: rotate(360deg) translateX(15px);
  animation: ani4-6 1s infinite;
}

@keyframes ani4-6 {
  100% {
    transform: rotate(360deg) translateX(115px);
  }
}
.group:nth-child(4) span:nth-child(7) {
  transform: rotate(180deg) translate(22.5px, 12.99px);
}

.group:nth-child(4) span:nth-child(8) {
  transform: rotate(240deg) translate(22.5px, 12.99px);
}

.group:nth-child(4) span:nth-child(9) {
  transform: rotate(300deg) translate(22.5px, 12.99px);
}

.group:nth-child(4) span:nth-child(10) {
  transform: rotate(360deg) translate(22.5px, 12.99px);
}

.group:nth-child(4) span:nth-child(11) {
  transform: rotate(420deg) translate(22.5px, 12.99px);
}

.group:nth-child(4) span:nth-child(12) {
  transform: rotate(480deg) translate(22.5px, 12.99px);
}

.group:nth-child(4) span:nth-child(13) {
  transform: rotate(540deg) translate(15px, 25.98px);
}

.group:nth-child(4) span:nth-child(14) {
  transform: rotate(600deg) translate(15px, 25.98px);
}

.group:nth-child(4) span:nth-child(15) {
  transform: rotate(660deg) translate(15px, 25.98px);
}

.group:nth-child(4) span:nth-child(16) {
  transform: rotate(720deg) translate(15px, 25.98px);
}

.group:nth-child(4) span:nth-child(17) {
  transform: rotate(780deg) translate(15px, 25.98px);
}

.group:nth-child(4) span:nth-child(18) {
  transform: rotate(840deg) translate(15px, 25.98px);
}

.group:nth-child(5) span {
  border-width: 6.495px 3.75px;
  margin-left: -3.75px;
  margin-top: -6.495px;
}

.group:nth-child(5) span:nth-child(1) {
  transform: rotate(60deg) translateX(7.5px);
  animation: ani5-1 1s infinite;
}

@keyframes ani5-1 {
  100% {
    transform: rotate(60deg) translateX(107.5px);
  }
}
.group:nth-child(5) span:nth-child(2) {
  transform: rotate(120deg) translateX(7.5px);
  animation: ani5-2 1s infinite;
}

@keyframes ani5-2 {
  100% {
    transform: rotate(120deg) translateX(107.5px);
  }
}
.group:nth-child(5) span:nth-child(3) {
  transform: rotate(180deg) translateX(7.5px);
  animation: ani5-3 1s infinite;
}

@keyframes ani5-3 {
  100% {
    transform: rotate(180deg) translateX(107.5px);
  }
}
.group:nth-child(5) span:nth-child(4) {
  transform: rotate(240deg) translateX(7.5px);
  animation: ani5-4 1s infinite;
}

@keyframes ani5-4 {
  100% {
    transform: rotate(240deg) translateX(107.5px);
  }
}
.group:nth-child(5) span:nth-child(5) {
  transform: rotate(300deg) translateX(7.5px);
  animation: ani5-5 1s infinite;
}

@keyframes ani5-5 {
  100% {
    transform: rotate(300deg) translateX(107.5px);
  }
}
.group:nth-child(5) span:nth-child(6) {
  transform: rotate(360deg) translateX(7.5px);
  animation: ani5-6 1s infinite;
}

@keyframes ani5-6 {
  100% {
    transform: rotate(360deg) translateX(107.5px);
  }
}
.group:nth-child(5) span:nth-child(7) {
  transform: rotate(180deg) translate(11.25px, 6.495px);
}

.group:nth-child(5) span:nth-child(8) {
  transform: rotate(240deg) translate(11.25px, 6.495px);
}

.group:nth-child(5) span:nth-child(9) {
  transform: rotate(300deg) translate(11.25px, 6.495px);
}

.group:nth-child(5) span:nth-child(10) {
  transform: rotate(360deg) translate(11.25px, 6.495px);
}

.group:nth-child(5) span:nth-child(11) {
  transform: rotate(420deg) translate(11.25px, 6.495px);
}

.group:nth-child(5) span:nth-child(12) {
  transform: rotate(480deg) translate(11.25px, 6.495px);
}

.group:nth-child(5) span:nth-child(13) {
  transform: rotate(540deg) translate(7.5px, 12.99px);
}

.group:nth-child(5) span:nth-child(14) {
  transform: rotate(600deg) translate(7.5px, 12.99px);
}

.group:nth-child(5) span:nth-child(15) {
  transform: rotate(660deg) translate(7.5px, 12.99px);
}

.group:nth-child(5) span:nth-child(16) {
  transform: rotate(720deg) translate(7.5px, 12.99px);
}

.group:nth-child(5) span:nth-child(17) {
  transform: rotate(780deg) translate(7.5px, 12.99px);
}

.group:nth-child(5) span:nth-child(18) {
  transform: rotate(840deg) translate(7.5px, 12.99px);
}

.group:nth-child(6) span {
  border-width: 3.2475px 1.875px;
  margin-left: -1.875px;
  margin-top: -3.2475px;
}

.group:nth-child(6) span:nth-child(1) {
  transform: rotate(60deg) translateX(3.75px);
  animation: ani6-1 1s infinite;
}

@keyframes ani6-1 {
  100% {
    transform: rotate(60deg) translateX(103.75px);
  }
}
.group:nth-child(6) span:nth-child(2) {
  transform: rotate(120deg) translateX(3.75px);
  animation: ani6-2 1s infinite;
}

@keyframes ani6-2 {
  100% {
    transform: rotate(120deg) translateX(103.75px);
  }
}
.group:nth-child(6) span:nth-child(3) {
  transform: rotate(180deg) translateX(3.75px);
  animation: ani6-3 1s infinite;
}

@keyframes ani6-3 {
  100% {
    transform: rotate(180deg) translateX(103.75px);
  }
}
.group:nth-child(6) span:nth-child(4) {
  transform: rotate(240deg) translateX(3.75px);
  animation: ani6-4 1s infinite;
}

@keyframes ani6-4 {
  100% {
    transform: rotate(240deg) translateX(103.75px);
  }
}
.group:nth-child(6) span:nth-child(5) {
  transform: rotate(300deg) translateX(3.75px);
  animation: ani6-5 1s infinite;
}

@keyframes ani6-5 {
  100% {
    transform: rotate(300deg) translateX(103.75px);
  }
}
.group:nth-child(6) span:nth-child(6) {
  transform: rotate(360deg) translateX(3.75px);
  animation: ani6-6 1s infinite;
}

@keyframes ani6-6 {
  100% {
    transform: rotate(360deg) translateX(103.75px);
  }
}
.group:nth-child(6) span:nth-child(7) {
  transform: rotate(180deg) translate(5.625px, 3.2475px);
}

.group:nth-child(6) span:nth-child(8) {
  transform: rotate(240deg) translate(5.625px, 3.2475px);
}

.group:nth-child(6) span:nth-child(9) {
  transform: rotate(300deg) translate(5.625px, 3.2475px);
}

.group:nth-child(6) span:nth-child(10) {
  transform: rotate(360deg) translate(5.625px, 3.2475px);
}

.group:nth-child(6) span:nth-child(11) {
  transform: rotate(420deg) translate(5.625px, 3.2475px);
}

.group:nth-child(6) span:nth-child(12) {
  transform: rotate(480deg) translate(5.625px, 3.2475px);
}

.group:nth-child(6) span:nth-child(13) {
  transform: rotate(540deg) translate(3.75px, 6.495px);
}

.group:nth-child(6) span:nth-child(14) {
  transform: rotate(600deg) translate(3.75px, 6.495px);
}

.group:nth-child(6) span:nth-child(15) {
  transform: rotate(660deg) translate(3.75px, 6.495px);
}

.group:nth-child(6) span:nth-child(16) {
  transform: rotate(720deg) translate(3.75px, 6.495px);
}

.group:nth-child(6) span:nth-child(17) {
  transform: rotate(780deg) translate(3.75px, 6.495px);
}

.group:nth-child(6) span:nth-child(18) {
  transform: rotate(840deg) translate(3.75px, 6.495px);
}
