html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #014db5;
  transform-style: preserve-3d;
  perspective: 700;
}

.text, .lines, .line, .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.circle:nth-child(1) {
  width: 32px;
  height: 32px;
  margin-left: -8px;
  margin-top: 83px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 73px);
}

.ani1 .circle:nth-child(1) {
  animation: circle-ani1-1 2s linear -0.3s infinite;
}

.ani2 .circle:nth-child(1) {
  animation: circle-ani2-1 0.8s ease-in-out -0.05s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-1 {
  0% {
    width: 44px;
    height: 44px;
    margin-left: -79px;
    margin-top: -135px;
    transform: translate3d(-50%, -50%, 93px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(2) {
  width: 44px;
  height: 44px;
  margin-left: 116px;
  margin-top: -73px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 60px);
}

.ani1 .circle:nth-child(2) {
  animation: circle-ani1-2 2s linear -0.6s infinite;
}

.ani2 .circle:nth-child(2) {
  animation: circle-ani2-2 0.8s ease-in-out -0.1s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-2 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-2 {
  0% {
    width: 42px;
    height: 42px;
    margin-left: -11px;
    margin-top: -53px;
    transform: translate3d(-50%, -50%, 168px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(3) {
  width: 35px;
  height: 35px;
  margin-left: 70px;
  margin-top: -124px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 30px);
}

.ani1 .circle:nth-child(3) {
  animation: circle-ani1-3 2s linear -0.9s infinite;
}

.ani2 .circle:nth-child(3) {
  animation: circle-ani2-3 0.8s ease-in-out -0.15s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-3 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-3 {
  0% {
    width: 35px;
    height: 35px;
    margin-left: -10px;
    margin-top: -65px;
    transform: translate3d(-50%, -50%, 447px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(4) {
  width: 37px;
  height: 37px;
  margin-left: -197px;
  margin-top: 167px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 95px);
}

.ani1 .circle:nth-child(4) {
  animation: circle-ani1-4 2s linear -1.2s infinite;
}

.ani2 .circle:nth-child(4) {
  animation: circle-ani2-4 0.8s ease-in-out -0.2s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-4 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-4 {
  0% {
    width: 45px;
    height: 45px;
    margin-left: 196px;
    margin-top: 192px;
    transform: translate3d(-50%, -50%, 38px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(5) {
  width: 44px;
  height: 44px;
  margin-left: 33px;
  margin-top: 190px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 4px);
}

.ani1 .circle:nth-child(5) {
  animation: circle-ani1-5 2s linear -1.5s infinite;
}

.ani2 .circle:nth-child(5) {
  animation: circle-ani2-5 0.8s ease-in-out -0.25s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-5 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-5 {
  0% {
    width: 41px;
    height: 41px;
    margin-left: -94px;
    margin-top: 52px;
    transform: translate3d(-50%, -50%, 708px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(6) {
  width: 39px;
  height: 39px;
  margin-left: 123px;
  margin-top: 104px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 51px);
}

.ani1 .circle:nth-child(6) {
  animation: circle-ani1-6 2s linear -1.8s infinite;
}

.ani2 .circle:nth-child(6) {
  animation: circle-ani2-6 0.8s ease-in-out -0.3s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-6 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-6 {
  0% {
    width: 43px;
    height: 43px;
    margin-left: -36px;
    margin-top: -82px;
    transform: translate3d(-50%, -50%, 71px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(7) {
  width: 46px;
  height: 46px;
  margin-left: -84px;
  margin-top: 105px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 45px);
}

.ani1 .circle:nth-child(7) {
  animation: circle-ani1-7 2s linear -2.1s infinite;
}

.ani2 .circle:nth-child(7) {
  animation: circle-ani2-7 0.8s ease-in-out -0.35s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-7 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-7 {
  0% {
    width: 31px;
    height: 31px;
    margin-left: -17px;
    margin-top: -26px;
    transform: translate3d(-50%, -50%, 229px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(8) {
  width: 39px;
  height: 39px;
  margin-left: -52px;
  margin-top: 167px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 67px);
}

.ani1 .circle:nth-child(8) {
  animation: circle-ani1-8 2s linear -2.4s infinite;
}

.ani2 .circle:nth-child(8) {
  animation: circle-ani2-8 0.8s ease-in-out -0.4s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-8 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-8 {
  0% {
    width: 48px;
    height: 48px;
    margin-left: 154px;
    margin-top: 174px;
    transform: translate3d(-50%, -50%, 434px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(9) {
  width: 36px;
  height: 36px;
  margin-left: -105px;
  margin-top: -66px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 9px);
}

.ani1 .circle:nth-child(9) {
  animation: circle-ani1-9 2s linear -2.7s infinite;
}

.ani2 .circle:nth-child(9) {
  animation: circle-ani2-9 0.8s ease-in-out -0.45s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-9 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-9 {
  0% {
    width: 50px;
    height: 50px;
    margin-left: 192px;
    margin-top: 7px;
    transform: translate3d(-50%, -50%, 745px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(10) {
  width: 40px;
  height: 40px;
  margin-left: 6px;
  margin-top: -53px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 92px);
}

.ani1 .circle:nth-child(10) {
  animation: circle-ani1-10 2s linear -3s infinite;
}

.ani2 .circle:nth-child(10) {
  animation: circle-ani2-10 0.8s ease-in-out -0.5s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-10 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-10 {
  0% {
    width: 45px;
    height: 45px;
    margin-left: 79px;
    margin-top: 200px;
    transform: translate3d(-50%, -50%, 117px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(11) {
  width: 42px;
  height: 42px;
  margin-left: 177px;
  margin-top: -175px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 73px);
}

.ani1 .circle:nth-child(11) {
  animation: circle-ani1-11 2s linear -3.3s infinite;
}

.ani2 .circle:nth-child(11) {
  animation: circle-ani2-11 0.8s ease-in-out -0.55s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-11 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-11 {
  0% {
    width: 50px;
    height: 50px;
    margin-left: -184px;
    margin-top: 4px;
    transform: translate3d(-50%, -50%, 676px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(12) {
  width: 31px;
  height: 31px;
  margin-left: 170px;
  margin-top: -97px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 48px);
}

.ani1 .circle:nth-child(12) {
  animation: circle-ani1-12 2s linear -3.6s infinite;
}

.ani2 .circle:nth-child(12) {
  animation: circle-ani2-12 0.8s ease-in-out -0.6s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-12 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-12 {
  0% {
    width: 42px;
    height: 42px;
    margin-left: 148px;
    margin-top: 56px;
    transform: translate3d(-50%, -50%, 365px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(13) {
  width: 46px;
  height: 46px;
  margin-left: -83px;
  margin-top: -73px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 77px);
}

.ani1 .circle:nth-child(13) {
  animation: circle-ani1-13 2s linear -3.9s infinite;
}

.ani2 .circle:nth-child(13) {
  animation: circle-ani2-13 0.8s ease-in-out -0.65s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-13 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-13 {
  0% {
    width: 36px;
    height: 36px;
    margin-left: 75px;
    margin-top: 72px;
    transform: translate3d(-50%, -50%, 439px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(14) {
  width: 44px;
  height: 44px;
  margin-left: 94px;
  margin-top: 53px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 97px);
}

.ani1 .circle:nth-child(14) {
  animation: circle-ani1-14 2s linear -4.2s infinite;
}

.ani2 .circle:nth-child(14) {
  animation: circle-ani2-14 0.8s ease-in-out -0.7s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-14 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-14 {
  0% {
    width: 31px;
    height: 31px;
    margin-left: -125px;
    margin-top: -24px;
    transform: translate3d(-50%, -50%, 465px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(15) {
  width: 49px;
  height: 49px;
  margin-left: -120px;
  margin-top: 78px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 90px);
}

.ani1 .circle:nth-child(15) {
  animation: circle-ani1-15 2s linear -4.5s infinite;
}

.ani2 .circle:nth-child(15) {
  animation: circle-ani2-15 0.8s ease-in-out -0.75s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-15 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-15 {
  0% {
    width: 39px;
    height: 39px;
    margin-left: -161px;
    margin-top: 188px;
    transform: translate3d(-50%, -50%, 534px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(16) {
  width: 42px;
  height: 42px;
  margin-left: -134px;
  margin-top: -146px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 80px);
}

.ani1 .circle:nth-child(16) {
  animation: circle-ani1-16 2s linear -4.8s infinite;
}

.ani2 .circle:nth-child(16) {
  animation: circle-ani2-16 0.8s ease-in-out -0.8s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-16 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-16 {
  0% {
    width: 37px;
    height: 37px;
    margin-left: 190px;
    margin-top: 14px;
    transform: translate3d(-50%, -50%, 339px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(17) {
  width: 45px;
  height: 45px;
  margin-left: 86px;
  margin-top: 140px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 57px);
}

.ani1 .circle:nth-child(17) {
  animation: circle-ani1-17 2s linear -5.1s infinite;
}

.ani2 .circle:nth-child(17) {
  animation: circle-ani2-17 0.8s ease-in-out -0.85s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-17 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-17 {
  0% {
    width: 37px;
    height: 37px;
    margin-left: -36px;
    margin-top: -32px;
    transform: translate3d(-50%, -50%, 688px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(18) {
  width: 48px;
  height: 48px;
  margin-left: 18px;
  margin-top: -101px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 6px);
}

.ani1 .circle:nth-child(18) {
  animation: circle-ani1-18 2s linear -5.4s infinite;
}

.ani2 .circle:nth-child(18) {
  animation: circle-ani2-18 0.8s ease-in-out -0.9s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-18 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-18 {
  0% {
    width: 44px;
    height: 44px;
    margin-left: -51px;
    margin-top: 145px;
    transform: translate3d(-50%, -50%, 520px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(19) {
  width: 46px;
  height: 46px;
  margin-left: -103px;
  margin-top: -15px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 96px);
}

.ani1 .circle:nth-child(19) {
  animation: circle-ani1-19 2s linear -5.7s infinite;
}

.ani2 .circle:nth-child(19) {
  animation: circle-ani2-19 0.8s ease-in-out -0.95s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-19 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-19 {
  0% {
    width: 48px;
    height: 48px;
    margin-left: 107px;
    margin-top: 115px;
    transform: translate3d(-50%, -50%, 465px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.circle:nth-child(20) {
  width: 42px;
  height: 42px;
  margin-left: -54px;
  margin-top: -195px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate3d(-50%, -50%, 46px);
}

.ani1 .circle:nth-child(20) {
  animation: circle-ani1-20 2s linear -6s infinite;
}

.ani2 .circle:nth-child(20) {
  animation: circle-ani2-20 0.8s ease-in-out -1s forwards, fadeout 0.5s steps(1) 1s forwards;
}

@keyframes circle-ani1-20 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 800px);
  }
}
@keyframes circle-ani2-20 {
  0% {
    width: 44px;
    height: 44px;
    margin-left: 11px;
    margin-top: 163px;
    transform: translate3d(-50%, -50%, 663px);
  }

  90% {
    transform: translate(-50%, -50%, 0);
    margin-left: 0;
    margin-top: 0;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0;
  }
}
.ani2 .line:nth-child(1) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(1) {
  animation: line-ani1-1 0.5s ease-in-out 1.5s forwards, line-ani2-1 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-1 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 8px;
  }
}
@keyframes line-ani2-1 {
  100% {
    height: 61px;
  }
}
.ani3 .line:nth-child(1) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 8px;
  animation: line-ani3 2.1s linear 0.1s infinite;
}

.ani2 .line:nth-child(2) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(2) {
  animation: line-ani1-2 0.5s ease-in-out 1.5s forwards, line-ani2-2 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-2 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 16px;
  }
}
@keyframes line-ani2-2 {
  100% {
    height: 60px;
  }
}
.ani3 .line:nth-child(2) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 16px;
  animation: line-ani3 2.1s linear 0.2s infinite;
}

.ani2 .line:nth-child(3) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(3) {
  animation: line-ani1-3 0.5s ease-in-out 1.5s forwards, line-ani2-3 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-3 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 24px;
  }
}
@keyframes line-ani2-3 {
  100% {
    height: 49px;
  }
}
.ani3 .line:nth-child(3) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 24px;
  animation: line-ani3 2.1s linear 0.3s infinite;
}

.ani2 .line:nth-child(4) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(4) {
  animation: line-ani1-4 0.5s ease-in-out 1.5s forwards, line-ani2-4 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-4 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 32px;
  }
}
@keyframes line-ani2-4 {
  100% {
    height: 39px;
  }
}
.ani3 .line:nth-child(4) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 32px;
  animation: line-ani3 2.1s linear 0.4s infinite;
}

.ani2 .line:nth-child(5) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(5) {
  animation: line-ani1-5 0.5s ease-in-out 1.5s forwards, line-ani2-5 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-5 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 40px;
  }
}
@keyframes line-ani2-5 {
  100% {
    height: 62px;
  }
}
.ani3 .line:nth-child(5) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 40px;
  animation: line-ani3 2.1s linear 0.5s infinite;
}

.ani2 .line:nth-child(6) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(6) {
  animation: line-ani1-6 0.5s ease-in-out 1.5s forwards, line-ani2-6 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-6 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 48px;
  }
}
@keyframes line-ani2-6 {
  100% {
    height: 50px;
  }
}
.ani3 .line:nth-child(6) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 48px;
  animation: line-ani3 2.1s linear 0.6s infinite;
}

.ani2 .line:nth-child(7) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(7) {
  animation: line-ani1-7 0.5s ease-in-out 1.5s forwards, line-ani2-7 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-7 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 56px;
  }
}
@keyframes line-ani2-7 {
  100% {
    height: 36px;
  }
}
.ani3 .line:nth-child(7) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 56px;
  animation: line-ani3 2.1s linear 0.7s infinite;
}

.ani2 .line:nth-child(8) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(8) {
  animation: line-ani1-8 0.5s ease-in-out 1.5s forwards, line-ani2-8 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-8 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 64px;
  }
}
@keyframes line-ani2-8 {
  100% {
    height: 47px;
  }
}
.ani3 .line:nth-child(8) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 64px;
  animation: line-ani3 2.1s linear 0.8s infinite;
}

.ani2 .line:nth-child(9) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(9) {
  animation: line-ani1-9 0.5s ease-in-out 1.5s forwards, line-ani2-9 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-9 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 72px;
  }
}
@keyframes line-ani2-9 {
  100% {
    height: 53px;
  }
}
.ani3 .line:nth-child(9) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 72px;
  animation: line-ani3 2.1s linear 0.9s infinite;
}

.ani2 .line:nth-child(10) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(10) {
  animation: line-ani1-10 0.5s ease-in-out 1.5s forwards, line-ani2-10 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-10 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 80px;
  }
}
@keyframes line-ani2-10 {
  100% {
    height: 65px;
  }
}
.ani3 .line:nth-child(10) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 80px;
  animation: line-ani3 2.1s linear 1s infinite;
}

.ani2 .line:nth-child(11) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(11) {
  animation: line-ani1-11 0.5s ease-in-out 1.5s forwards, line-ani2-11 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-11 {
  0%,100% {
    opacity: 1;
  }
}
@keyframes line-ani2-11 {
  100% {
    height: 68px;
  }
}
.ani3 .line:nth-child(11) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 88px;
  animation: line-ani3 2.1s linear 1.1s infinite;
}

.ani2 .line:nth-child(12) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(12) {
  animation: line-ani1-12 0.5s ease-in-out 1.5s forwards, line-ani2-12 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-12 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -8px;
  }
}
@keyframes line-ani2-12 {
  100% {
    height: 34px;
  }
}
.ani3 .line:nth-child(12) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 96px;
  animation: line-ani3 2.1s linear 1.2s infinite;
}

.ani2 .line:nth-child(13) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(13) {
  animation: line-ani1-13 0.5s ease-in-out 1.5s forwards, line-ani2-13 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-13 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -16px;
  }
}
@keyframes line-ani2-13 {
  100% {
    height: 47px;
  }
}
.ani3 .line:nth-child(13) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 104px;
  animation: line-ani3 2.1s linear 1.3s infinite;
}

.ani2 .line:nth-child(14) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(14) {
  animation: line-ani1-14 0.5s ease-in-out 1.5s forwards, line-ani2-14 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-14 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -24px;
  }
}
@keyframes line-ani2-14 {
  100% {
    height: 33px;
  }
}
.ani3 .line:nth-child(14) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 112px;
  animation: line-ani3 2.1s linear 1.4s infinite;
}

.ani2 .line:nth-child(15) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(15) {
  animation: line-ani1-15 0.5s ease-in-out 1.5s forwards, line-ani2-15 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-15 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -32px;
  }
}
@keyframes line-ani2-15 {
  100% {
    height: 40px;
  }
}
.ani3 .line:nth-child(15) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 120px;
  animation: line-ani3 2.1s linear 1.5s infinite;
}

.ani2 .line:nth-child(16) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(16) {
  animation: line-ani1-16 0.5s ease-in-out 1.5s forwards, line-ani2-16 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-16 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -40px;
  }
}
@keyframes line-ani2-16 {
  100% {
    height: 65px;
  }
}
.ani3 .line:nth-child(16) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 128px;
  animation: line-ani3 2.1s linear 1.6s infinite;
}

.ani2 .line:nth-child(17) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(17) {
  animation: line-ani1-17 0.5s ease-in-out 1.5s forwards, line-ani2-17 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-17 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -48px;
  }
}
@keyframes line-ani2-17 {
  100% {
    height: 47px;
  }
}
.ani3 .line:nth-child(17) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 136px;
  animation: line-ani3 2.1s linear 1.7s infinite;
}

.ani2 .line:nth-child(18) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(18) {
  animation: line-ani1-18 0.5s ease-in-out 1.5s forwards, line-ani2-18 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-18 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -56px;
  }
}
@keyframes line-ani2-18 {
  100% {
    height: 32px;
  }
}
.ani3 .line:nth-child(18) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 144px;
  animation: line-ani3 2.1s linear 1.8s infinite;
}

.ani2 .line:nth-child(19) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(19) {
  animation: line-ani1-19 0.5s ease-in-out 1.5s forwards, line-ani2-19 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-19 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -64px;
  }
}
@keyframes line-ani2-19 {
  100% {
    height: 34px;
  }
}
.ani3 .line:nth-child(19) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 152px;
  animation: line-ani3 2.1s linear 1.9s infinite;
}

.ani2 .line:nth-child(20) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(20) {
  animation: line-ani1-20 0.5s ease-in-out 1.5s forwards, line-ani2-20 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-20 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -72px;
  }
}
@keyframes line-ani2-20 {
  100% {
    height: 63px;
  }
}
.ani3 .line:nth-child(20) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 160px;
  animation: line-ani3 2.1s linear 2s infinite;
}

.ani2 .line:nth-child(21) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.ani2 .line:nth-child(21) {
  animation: line-ani1-21 0.5s ease-in-out 1.5s forwards, line-ani2-21 0.5s ease-in-out 2s infinite alternate;
}

@keyframes line-ani1-21 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -80px;
  }
}
@keyframes line-ani2-21 {
  100% {
    height: 52px;
  }
}
.ani3 .line:nth-child(21) {
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: 168px;
  animation: line-ani3 2.1s linear 2.1s infinite;
}

.ani3 .lines {
  position: absolute;
  margin-left: -88px;
}

@keyframes line-ani3 {
  4%,12% {
    height: 12px;
  }

  8% {
    height: 20px;
  }

  16%,100% {
    height: 4px;
  }
}
.text {
  color: #fff;
  margin-top: 100px;
  opacity: 0;
}

.ani2 .text:nth-child(1) {
  animation: fadein 0.5s steps(1) 1s forwards;
}

.ani3 .text:nth-child(2) {
  opacity: 1;
}

.ani3 .circle {
  display: none;
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}
