meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"
link href="../css/style.css" rel="stylesheet"
h2 align-items:baseline
.align-items.align-items1
  - for i in 1..6 do
    span
h2 align-items:enter
.align-items.align-items2
  - for i in 1..6 do
    span
h2 align-items:flex-end
.align-items.align-items3
  - for i in 1..6 do
    span
h2 align-items:flex-start
.align-items.align-items4
  - for i in 1..6 do
    span
h2 align-items:stretch
.align-items.align-items5
  - for i in 1..6 do
    span
h2 align-content:flex-start
.align-content.align-content1
  - for i in 1..6 do
    span
h2 align-content:flex-end
.align-content.align-content2
  - for i in 1..6 do
    span
h2 align-content:center
.align-content.align-content3
  - for i in 1..6 do
    span
h2 align-content:space-between
.align-content.align-content4
  - for i in 1..6 do
    span
h2 align-content:space-around
.align-content.align-content5
  - for i in 1..6 do
    span
h2 align-content:stretch
.align-content.align-content6
  - for i in 1..6 do
    span
h2 align-self
.align-self
    - for i in 1..6 do
      span
h2 flex-direction:row
.flex-direction.flex-direction1
    - for i in 1..6 do
      span
h2 flex-direction:row-reverse
.flex-direction.flex-direction2
    - for i in 1..6 do
      span
h2 flex-direction:column
.flex-direction.flex-direction3
    - for i in 1..6 do
      span
h2 flex-direction:column-reverse
.flex-direction.flex-direction4
    - for i in 1..6 do
      span
h2 flex-flow:row
.flex-flow.flex-flow1
    - for i in 1..6 do
      span
h2 flex-flow:row-reverse
.flex-flow.flex-flow2
    - for i in 1..6 do
      span
h2 flex-flow:column
.flex-flow.flex-flow3
    - for i in 1..6 do
      span
h2 flex-flow:column-reverse
.flex-flow.flex-flow4
    - for i in 1..6 do
      span
h2 flex-flow:wrap
.flex-flow.flex-flow5
    - for i in 1..6 do
      span
h2 flex-flow:wrap-reverse
.flex-flow.flex-flow6
    - for i in 1..6 do
      span
h2 flex-grow
.flex-grow
    - for i in 1..6 do
      span
h2 flex
.flex
    - for i in 1..6 do
      span
h2 flex-shrink
.flex-shrink.flex
    - for i in 1..6 do
      span
h2 flex-basis
.flex-basis.flex
    - for i in 1..6 do
      span
h2 flex-wrap:nowrap    
.flex-wrap.flex-wrap1
    - for i in 1..8 do
      span
h2 flex-wrap:wrap    
.flex-wrap2
    - for i in 1..8 do
      span
h2 flex-wrap:wrap-reverse   
.flex-wrap.flex-wrap3
    - for i in 1..8 do
      span
h2 justify-content:flex-start  
.justify-content.justify-content1
    - for i in 1..6 do
      span
h2 justify-content:flex-end  
.justify-content.justify-content2
    - for i in 1..6 do
      span
h2 justify-content:space-between
.justify-content.justify-content3
    - for i in 1..6 do
      span
h2 justify-content:space-around
.justify-content.justify-content4
    - for i in 1..6 do
      span
h2 justify-content:center
.justify-content.justify-content5
    - for i in 1..6 do
      span
h2 obder
.order
    - for i in 1..6 do
      span





