html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #f9bf35;
}

* {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.circle:nth-child(1) {
  border: 1px solid #fff;
  animation: circle-ani1-1 10s linear forwards, circle-ani3 0.1s linear 11s forwards;
}

@keyframes circle-ani1-1 {
  5% {
    transform: translate(6px, -20px);
  }

  10% {
    transform: translate(-2px, -40px);
  }

  15% {
    transform: translate(3px, -60px);
  }

  20% {
    transform: translate(-3px, -80px);
  }

  25% {
    transform: translate(6px, -100px);
  }

  30% {
    transform: translate(-5px, -120px);
  }

  35% {
    transform: translate(8px, -140px);
  }

  40% {
    transform: translate(-9px, -160px);
  }

  45% {
    transform: translate(4px, -180px);
  }

  50% {
    transform: translate(-2px, -200px);
  }

  55% {
    transform: translate(1px, -220px);
  }

  60% {
    transform: translate(-8px, -240px);
  }

  65% {
    transform: translate(8px, -260px);
  }

  70% {
    transform: translate(-5px, -280px);
  }

  75% {
    transform: translate(8px, -300px);
  }

  80% {
    transform: translate(-1px, -320px);
  }

  85% {
    transform: translate(1px, -340px);
  }

  90% {
    transform: translate(-2px, -360px);
  }

  95% {
    transform: translate(5px, -380px);
  }

  100% {
    transform: translate(-8px, -400px);
  }

  0%,99% {
    width: 32;
    height: 32;
    margin-left: -148;
    margin-top: 572;
    border-radius: 50%;
    background: none;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
    background: #fff;
  }
}
.circle:nth-child(2) {
  border: 1px solid #fff;
  animation: circle-ani1-2 10s linear forwards, circle-ani3 0.1s linear 11s forwards;
}

@keyframes circle-ani1-2 {
  5% {
    transform: translate(0px, -20px);
  }

  10% {
    transform: translate(-1px, -40px);
  }

  15% {
    transform: translate(7px, -60px);
  }

  20% {
    transform: translate(-9px, -80px);
  }

  25% {
    transform: translate(8px, -100px);
  }

  30% {
    transform: translate(-3px, -120px);
  }

  35% {
    transform: translate(9px, -140px);
  }

  40% {
    transform: translate(-9px, -160px);
  }

  45% {
    transform: translate(0px, -180px);
  }

  50% {
    transform: translate(-3px, -200px);
  }

  55% {
    transform: translate(4px, -220px);
  }

  60% {
    transform: translate(-4px, -240px);
  }

  65% {
    transform: translate(7px, -260px);
  }

  70% {
    transform: translate(-7px, -280px);
  }

  75% {
    transform: translate(3px, -300px);
  }

  80% {
    transform: translate(-1px, -320px);
  }

  85% {
    transform: translate(2px, -340px);
  }

  90% {
    transform: translate(-4px, -360px);
  }

  95% {
    transform: translate(0px, -380px);
  }

  100% {
    transform: translate(-0px, -400px);
  }

  0%,99% {
    width: 36;
    height: 36;
    margin-left: 225;
    margin-top: 364;
    border-radius: 50%;
    background: none;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
    background: #fff;
  }
}
.circle:nth-child(3) {
  border: 1px solid #fff;
  animation: circle-ani1-3 10s linear forwards, circle-ani3 0.1s linear 11s forwards;
}

@keyframes circle-ani1-3 {
  5% {
    transform: translate(9px, -20px);
  }

  10% {
    transform: translate(-1px, -40px);
  }

  15% {
    transform: translate(8px, -60px);
  }

  20% {
    transform: translate(-2px, -80px);
  }

  25% {
    transform: translate(5px, -100px);
  }

  30% {
    transform: translate(-2px, -120px);
  }

  35% {
    transform: translate(8px, -140px);
  }

  40% {
    transform: translate(-7px, -160px);
  }

  45% {
    transform: translate(9px, -180px);
  }

  50% {
    transform: translate(-5px, -200px);
  }

  55% {
    transform: translate(4px, -220px);
  }

  60% {
    transform: translate(-2px, -240px);
  }

  65% {
    transform: translate(6px, -260px);
  }

  70% {
    transform: translate(-5px, -280px);
  }

  75% {
    transform: translate(9px, -300px);
  }

  80% {
    transform: translate(-5px, -320px);
  }

  85% {
    transform: translate(4px, -340px);
  }

  90% {
    transform: translate(-8px, -360px);
  }

  95% {
    transform: translate(0px, -380px);
  }

  100% {
    transform: translate(-3px, -400px);
  }

  0%,99% {
    width: 34;
    height: 34;
    margin-left: -3;
    margin-top: 294;
    border-radius: 50%;
    background: none;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
    background: #fff;
  }
}
.circle:nth-child(4) {
  border: 1px solid #fff;
  animation: circle-ani1-4 10s linear forwards, circle-ani3 0.1s linear 11s forwards;
}

@keyframes circle-ani1-4 {
  5% {
    transform: translate(1px, -20px);
  }

  10% {
    transform: translate(-5px, -40px);
  }

  15% {
    transform: translate(3px, -60px);
  }

  20% {
    transform: translate(-8px, -80px);
  }

  25% {
    transform: translate(9px, -100px);
  }

  30% {
    transform: translate(-8px, -120px);
  }

  35% {
    transform: translate(8px, -140px);
  }

  40% {
    transform: translate(-3px, -160px);
  }

  45% {
    transform: translate(3px, -180px);
  }

  50% {
    transform: translate(-3px, -200px);
  }

  55% {
    transform: translate(2px, -220px);
  }

  60% {
    transform: translate(-9px, -240px);
  }

  65% {
    transform: translate(4px, -260px);
  }

  70% {
    transform: translate(-6px, -280px);
  }

  75% {
    transform: translate(3px, -300px);
  }

  80% {
    transform: translate(-3px, -320px);
  }

  85% {
    transform: translate(4px, -340px);
  }

  90% {
    transform: translate(-7px, -360px);
  }

  95% {
    transform: translate(8px, -380px);
  }

  100% {
    transform: translate(-8px, -400px);
  }

  0%,99% {
    width: 43;
    height: 43;
    margin-left: -262;
    margin-top: 21;
    border-radius: 50%;
    background: none;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
    background: #fff;
  }
}
.circle:nth-child(5) {
  border: 1px solid #fff;
  animation: circle-ani1-5 10s linear forwards, circle-ani3 0.1s linear 11s forwards;
}

@keyframes circle-ani1-5 {
  5% {
    transform: translate(8px, -20px);
  }

  10% {
    transform: translate(-8px, -40px);
  }

  15% {
    transform: translate(7px, -60px);
  }

  20% {
    transform: translate(-0px, -80px);
  }

  25% {
    transform: translate(9px, -100px);
  }

  30% {
    transform: translate(-1px, -120px);
  }

  35% {
    transform: translate(1px, -140px);
  }

  40% {
    transform: translate(-2px, -160px);
  }

  45% {
    transform: translate(4px, -180px);
  }

  50% {
    transform: translate(-2px, -200px);
  }

  55% {
    transform: translate(2px, -220px);
  }

  60% {
    transform: translate(-9px, -240px);
  }

  65% {
    transform: translate(2px, -260px);
  }

  70% {
    transform: translate(-8px, -280px);
  }

  75% {
    transform: translate(0px, -300px);
  }

  80% {
    transform: translate(-2px, -320px);
  }

  85% {
    transform: translate(3px, -340px);
  }

  90% {
    transform: translate(-3px, -360px);
  }

  95% {
    transform: translate(7px, -380px);
  }

  100% {
    transform: translate(-5px, -400px);
  }

  0%,99% {
    width: 46;
    height: 46;
    margin-left: -248;
    margin-top: 7;
    border-radius: 50%;
    background: none;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
    background: #fff;
  }
}
.circle:nth-child(6) {
  border: 1px solid #fff;
  animation: circle-ani1-6 10s linear forwards, circle-ani3 0.1s linear 11s forwards;
}

@keyframes circle-ani1-6 {
  5% {
    transform: translate(4px, -20px);
  }

  10% {
    transform: translate(-8px, -40px);
  }

  15% {
    transform: translate(2px, -60px);
  }

  20% {
    transform: translate(-6px, -80px);
  }

  25% {
    transform: translate(8px, -100px);
  }

  30% {
    transform: translate(-6px, -120px);
  }

  35% {
    transform: translate(8px, -140px);
  }

  40% {
    transform: translate(-6px, -160px);
  }

  45% {
    transform: translate(2px, -180px);
  }

  50% {
    transform: translate(-0px, -200px);
  }

  55% {
    transform: translate(6px, -220px);
  }

  60% {
    transform: translate(-0px, -240px);
  }

  65% {
    transform: translate(9px, -260px);
  }

  70% {
    transform: translate(-5px, -280px);
  }

  75% {
    transform: translate(4px, -300px);
  }

  80% {
    transform: translate(-4px, -320px);
  }

  85% {
    transform: translate(5px, -340px);
  }

  90% {
    transform: translate(-1px, -360px);
  }

  95% {
    transform: translate(5px, -380px);
  }

  100% {
    transform: translate(-4px, -400px);
  }

  0%,99% {
    width: 46;
    height: 46;
    margin-left: 206;
    margin-top: 589;
    border-radius: 50%;
    background: none;
  }

  100% {
    transform: translate(-50%, -50%);
    margin-left: 0;
    margin-top: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
    background: #fff;
  }
}
@keyframes circle-ani3 {
  100% {
    opacity: 0;
  }
}
.line:nth-child(1) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(1) {
  animation: line-ani2-1 0.5s ease-in-out 11s forwards, line-ani3-1 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-1 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 8px;
  }
}
@keyframes line-ani3-1 {
  100% {
    height: 63;
  }
}
.line:nth-child(2) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(2) {
  animation: line-ani2-2 0.5s ease-in-out 11s forwards, line-ani3-2 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-2 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 16px;
  }
}
@keyframes line-ani3-2 {
  100% {
    height: 17;
  }
}
.line:nth-child(3) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(3) {
  animation: line-ani2-3 0.5s ease-in-out 11s forwards, line-ani3-3 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-3 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 24px;
  }
}
@keyframes line-ani3-3 {
  100% {
    height: 73;
  }
}
.line:nth-child(4) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(4) {
  animation: line-ani2-4 0.5s ease-in-out 11s forwards, line-ani3-4 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-4 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 32px;
  }
}
@keyframes line-ani3-4 {
  100% {
    height: 91;
  }
}
.line:nth-child(5) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(5) {
  animation: line-ani2-5 0.5s ease-in-out 11s forwards, line-ani3-5 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-5 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 40px;
  }
}
@keyframes line-ani3-5 {
  100% {
    height: 46;
  }
}
.line:nth-child(6) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(6) {
  animation: line-ani2-6 0.5s ease-in-out 11s forwards, line-ani3-6 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-6 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 48px;
  }
}
@keyframes line-ani3-6 {
  100% {
    height: 69;
  }
}
.line:nth-child(7) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(7) {
  animation: line-ani2-7 0.5s ease-in-out 11s forwards, line-ani3-7 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-7 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 56px;
  }
}
@keyframes line-ani3-7 {
  100% {
    height: 41;
  }
}
.line:nth-child(8) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(8) {
  animation: line-ani2-8 0.5s ease-in-out 11s forwards, line-ani3-8 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-8 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 64px;
  }
}
@keyframes line-ani3-8 {
  100% {
    height: 12;
  }
}
.line:nth-child(9) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(9) {
  animation: line-ani2-9 0.5s ease-in-out 11s forwards, line-ani3-9 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-9 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 72px;
  }
}
@keyframes line-ani3-9 {
  100% {
    height: 74;
  }
}
.line:nth-child(10) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(10) {
  animation: line-ani2-10 0.5s ease-in-out 11s forwards, line-ani3-10 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-10 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: 80px;
  }
}
@keyframes line-ani3-10 {
  100% {
    height: 53;
  }
}
.line:nth-child(11) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(11) {
  animation: line-ani2-11 0.5s ease-in-out 11s forwards, line-ani3-11 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-11 {
  0%,100% {
    opacity: 1;
  }
}
@keyframes line-ani3-11 {
  100% {
    height: 87;
  }
}
.line:nth-child(12) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(12) {
  animation: line-ani2-12 0.5s ease-in-out 11s forwards, line-ani3-12 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-12 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -8px;
  }
}
@keyframes line-ani3-12 {
  100% {
    height: 77;
  }
}
.line:nth-child(13) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(13) {
  animation: line-ani2-13 0.5s ease-in-out 11s forwards, line-ani3-13 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-13 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -16px;
  }
}
@keyframes line-ani3-13 {
  100% {
    height: 19;
  }
}
.line:nth-child(14) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(14) {
  animation: line-ani2-14 0.5s ease-in-out 11s forwards, line-ani3-14 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-14 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -24px;
  }
}
@keyframes line-ani3-14 {
  100% {
    height: 74;
  }
}
.line:nth-child(15) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(15) {
  animation: line-ani2-15 0.5s ease-in-out 11s forwards, line-ani3-15 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-15 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -32px;
  }
}
@keyframes line-ani3-15 {
  100% {
    height: 95;
  }
}
.line:nth-child(16) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(16) {
  animation: line-ani2-16 0.5s ease-in-out 11s forwards, line-ani3-16 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-16 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -40px;
  }
}
@keyframes line-ani3-16 {
  100% {
    height: 39;
  }
}
.line:nth-child(17) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(17) {
  animation: line-ani2-17 0.5s ease-in-out 11s forwards, line-ani3-17 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-17 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -48px;
  }
}
@keyframes line-ani3-17 {
  100% {
    height: 29;
  }
}
.line:nth-child(18) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(18) {
  animation: line-ani2-18 0.5s ease-in-out 11s forwards, line-ani3-18 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-18 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -56px;
  }
}
@keyframes line-ani3-18 {
  100% {
    height: 51;
  }
}
.line:nth-child(19) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(19) {
  animation: line-ani2-19 0.5s ease-in-out 11s forwards, line-ani3-19 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-19 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -64px;
  }
}
@keyframes line-ani3-19 {
  100% {
    height: 51;
  }
}
.line:nth-child(20) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(20) {
  animation: line-ani2-20 0.5s ease-in-out 11s forwards, line-ani3-20 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-20 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -72px;
  }
}
@keyframes line-ani3-20 {
  100% {
    height: 78;
  }
}
.line:nth-child(21) {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0;
}

.line:nth-child(21) {
  animation: line-ani2-21 0.5s ease-in-out 11s forwards, line-ani3-21 0.5s ease-in-out 11.6s infinite alternate;
}

@keyframes line-ani2-21 {
  0%,100% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    margin-left: -80px;
  }
}
@keyframes line-ani3-21 {
  100% {
    height: 43;
  }
}
