path {
  transform-origin: 400px 400px;
  fill: none;
  stroke: #3dc100;
  stroke-dasharray: 1100;
  stroke-dashoffset: 1100;
}

path:nth-of-type(1) {
  transform: rotate(6deg) translate(250px, 0);
  animation: path 1s linear 0.1s forwards;
}

path:nth-of-type(2) {
  transform: rotate(12deg) translate(250px, 0);
  animation: path 1s linear 0.2s forwards;
}

path:nth-of-type(3) {
  transform: rotate(18deg) translate(250px, 0);
  animation: path 1s linear 0.3s forwards;
}

path:nth-of-type(4) {
  transform: rotate(24deg) translate(250px, 0);
  animation: path 1s linear 0.4s forwards;
}

path:nth-of-type(5) {
  transform: rotate(30deg) translate(250px, 0);
  animation: path 1s linear 0.5s forwards;
}

path:nth-of-type(6) {
  transform: rotate(36deg) translate(250px, 0);
  animation: path 1s linear 0.6s forwards;
}

path:nth-of-type(7) {
  transform: rotate(42deg) translate(250px, 0);
  animation: path 1s linear 0.7s forwards;
}

path:nth-of-type(8) {
  transform: rotate(48deg) translate(250px, 0);
  animation: path 1s linear 0.8s forwards;
}

path:nth-of-type(9) {
  transform: rotate(54deg) translate(250px, 0);
  animation: path 1s linear 0.9s forwards;
}

path:nth-of-type(10) {
  transform: rotate(60deg) translate(250px, 0);
  animation: path 1s linear 1s forwards;
}

path:nth-of-type(11) {
  transform: rotate(66deg) translate(250px, 0);
  animation: path 1s linear 1.1s forwards;
}

path:nth-of-type(12) {
  transform: rotate(72deg) translate(250px, 0);
  animation: path 1s linear 1.2s forwards;
}

path:nth-of-type(13) {
  transform: rotate(78deg) translate(250px, 0);
  animation: path 1s linear 1.3s forwards;
}

path:nth-of-type(14) {
  transform: rotate(84deg) translate(250px, 0);
  animation: path 1s linear 1.4s forwards;
}

path:nth-of-type(15) {
  transform: rotate(90deg) translate(250px, 0);
  animation: path 1s linear 1.5s forwards;
}

path:nth-of-type(16) {
  transform: rotate(96deg) translate(250px, 0);
  animation: path 1s linear 1.6s forwards;
}

path:nth-of-type(17) {
  transform: rotate(102deg) translate(250px, 0);
  animation: path 1s linear 1.7s forwards;
}

path:nth-of-type(18) {
  transform: rotate(108deg) translate(250px, 0);
  animation: path 1s linear 1.8s forwards;
}

path:nth-of-type(19) {
  transform: rotate(114deg) translate(250px, 0);
  animation: path 1s linear 1.9s forwards;
}

path:nth-of-type(20) {
  transform: rotate(120deg) translate(250px, 0);
  animation: path 1s linear 2s forwards;
}

path:nth-of-type(21) {
  transform: rotate(126deg) translate(250px, 0);
  animation: path 1s linear 2.1s forwards;
}

path:nth-of-type(22) {
  transform: rotate(132deg) translate(250px, 0);
  animation: path 1s linear 2.2s forwards;
}

path:nth-of-type(23) {
  transform: rotate(138deg) translate(250px, 0);
  animation: path 1s linear 2.3s forwards;
}

path:nth-of-type(24) {
  transform: rotate(144deg) translate(250px, 0);
  animation: path 1s linear 2.4s forwards;
}

path:nth-of-type(25) {
  transform: rotate(150deg) translate(250px, 0);
  animation: path 1s linear 2.5s forwards;
}

path:nth-of-type(26) {
  transform: rotate(156deg) translate(250px, 0);
  animation: path 1s linear 2.6s forwards;
}

path:nth-of-type(27) {
  transform: rotate(162deg) translate(250px, 0);
  animation: path 1s linear 2.7s forwards;
}

path:nth-of-type(28) {
  transform: rotate(168deg) translate(250px, 0);
  animation: path 1s linear 2.8s forwards;
}

path:nth-of-type(29) {
  transform: rotate(174deg) translate(250px, 0);
  animation: path 1s linear 2.9s forwards;
}

path:nth-of-type(30) {
  transform: rotate(180deg) translate(250px, 0);
  animation: path 1s linear 3s forwards;
}

path:nth-of-type(31) {
  transform: rotate(186deg) translate(250px, 0);
  animation: path 1s linear 3.1s forwards;
}

path:nth-of-type(32) {
  transform: rotate(192deg) translate(250px, 0);
  animation: path 1s linear 3.2s forwards;
}

path:nth-of-type(33) {
  transform: rotate(198deg) translate(250px, 0);
  animation: path 1s linear 3.3s forwards;
}

path:nth-of-type(34) {
  transform: rotate(204deg) translate(250px, 0);
  animation: path 1s linear 3.4s forwards;
}

path:nth-of-type(35) {
  transform: rotate(210deg) translate(250px, 0);
  animation: path 1s linear 3.5s forwards;
}

path:nth-of-type(36) {
  transform: rotate(216deg) translate(250px, 0);
  animation: path 1s linear 3.6s forwards;
}

path:nth-of-type(37) {
  transform: rotate(222deg) translate(250px, 0);
  animation: path 1s linear 3.7s forwards;
}

path:nth-of-type(38) {
  transform: rotate(228deg) translate(250px, 0);
  animation: path 1s linear 3.8s forwards;
}

path:nth-of-type(39) {
  transform: rotate(234deg) translate(250px, 0);
  animation: path 1s linear 3.9s forwards;
}

path:nth-of-type(40) {
  transform: rotate(240deg) translate(250px, 0);
  animation: path 1s linear 4s forwards;
}

path:nth-of-type(41) {
  transform: rotate(246deg) translate(250px, 0);
  animation: path 1s linear 4.1s forwards;
}

path:nth-of-type(42) {
  transform: rotate(252deg) translate(250px, 0);
  animation: path 1s linear 4.2s forwards;
}

path:nth-of-type(43) {
  transform: rotate(258deg) translate(250px, 0);
  animation: path 1s linear 4.3s forwards;
}

path:nth-of-type(44) {
  transform: rotate(264deg) translate(250px, 0);
  animation: path 1s linear 4.4s forwards;
}

path:nth-of-type(45) {
  transform: rotate(270deg) translate(250px, 0);
  animation: path 1s linear 4.5s forwards;
}

path:nth-of-type(46) {
  transform: rotate(276deg) translate(250px, 0);
  animation: path 1s linear 4.6s forwards;
}

path:nth-of-type(47) {
  transform: rotate(282deg) translate(250px, 0);
  animation: path 1s linear 4.7s forwards;
}

path:nth-of-type(48) {
  transform: rotate(288deg) translate(250px, 0);
  animation: path 1s linear 4.8s forwards;
}

path:nth-of-type(49) {
  transform: rotate(294deg) translate(250px, 0);
  animation: path 1s linear 4.9s forwards;
}

path:nth-of-type(50) {
  transform: rotate(300deg) translate(250px, 0);
  animation: path 1s linear 5s forwards;
}

path:nth-of-type(51) {
  transform: rotate(306deg) translate(250px, 0);
  animation: path 1s linear 5.1s forwards;
}

path:nth-of-type(52) {
  transform: rotate(312deg) translate(250px, 0);
  animation: path 1s linear 5.2s forwards;
}

path:nth-of-type(53) {
  transform: rotate(318deg) translate(250px, 0);
  animation: path 1s linear 5.3s forwards;
}

path:nth-of-type(54) {
  transform: rotate(324deg) translate(250px, 0);
  animation: path 1s linear 5.4s forwards;
}

path:nth-of-type(55) {
  transform: rotate(330deg) translate(250px, 0);
  animation: path 1s linear 5.5s forwards;
}

path:nth-of-type(56) {
  transform: rotate(336deg) translate(250px, 0);
  animation: path 1s linear 5.6s forwards;
}

path:nth-of-type(57) {
  transform: rotate(342deg) translate(250px, 0);
  animation: path 1s linear 5.7s forwards;
}

path:nth-of-type(58) {
  transform: rotate(348deg) translate(250px, 0);
  animation: path 1s linear 5.8s forwards;
}

path:nth-of-type(59) {
  transform: rotate(354deg) translate(250px, 0);
  animation: path 1s linear 5.9s forwards;
}

path:nth-of-type(60) {
  transform: rotate(360deg) translate(250px, 0);
  animation: path 1s linear 6s forwards;
}

@keyframes path {
  to {
    stroke-dashoffset: 0;
  }
}
