$radius:200px;
b { 
  position:absolute;
  left:50%;
  top:50%;
  &:before {
    content:""; 
    display:block; 
    padding:2px; 
    padding-bottom:0; 
    box-sizing:border-box;
    border-top-left-radius:$radius;
    border-top-right-radius:$radius;
    background:linear-gradient(to right, #fff, #fff),linear-gradient(to right, #077df8, #74baff);
    background-clip:content-box,padding-box;
  }
  &:after {
    content:""; 
    display:block; 
    padding:2px; 
    padding-top:0; 
    box-sizing:border-box;
    border-bottom-left-radius:$radius;
    border-bottom-right-radius:$radius;
    background:linear-gradient(to right, #fff, #fff),linear-gradient(to right, #fff, #74baff);
    background-clip:content-box,padding-box;
  }
}
@for $i from 1 through 40{
  b:nth-of-type(#{$i}){
    width:10px *$i;
    height:10px *$i;
    margin-left: -(10px *$i)/2;
    margin-top: -(10px *$i)/2;
    z-index:-1 *$i;
    animation: rotate 8s ease-in-out -0.1s *$i infinite;
    &:before,
    &:after{
      width:10px *$i;
      height:5px *$i; 
    }
  }
  
}
@keyframes rotate{
  25%{
    transform: rotate(360deg);
    -webkit-filter:hue-rotate(360deg);
  }
  50%,100%{
    transform: rotate(0deg);
    -webkit-filter:hue-rotate(0deg);
  }
}