html, body {
  height: 100%;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
}

div {
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) rotate3d(0, 1, 0, 0deg);
  animation: ani 6s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

span {
  border-color: transparent transparent rgba(255, 255, 255, 0.5) transparent;
  border-width: 259.8px 150px;
  border-style: solid;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -519.6px;
}

span:before {
  content: '';
  border-color: transparent transparent rgba(0, 123, 123, 0.5) transparent;
  border-width: 251.8px 142px;
  border-style: solid;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 4px;
}

span:nth-child(1) {
  transform: translateY(0) rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 35deg);
}

span:nth-child(2) {
  transform: translateY(0) rotate3d(0, 1, 0, 180deg) rotate3d(1, 0, 0, 35deg);
}

span:nth-child(3) {
  transform: translateY(0) rotate3d(0, 1, 0, 270deg) rotate3d(1, 0, 0, 35deg);
}

span:nth-child(4) {
  transform: translateY(0) rotate3d(0, 1, 0, 360deg) rotate3d(1, 0, 0, 35deg);
}

span:nth-child(5) {
  transform: translateY(422.25162px) rotate3d(0, 1, 0, 450deg) rotate3d(1, 0, 0, 35deg) rotate3d(0, 0, 1, 180deg);
}

span:nth-child(6) {
  transform: translateY(422.25162px) rotate3d(0, 1, 0, 540deg) rotate3d(1, 0, 0, 35deg) rotate3d(0, 0, 1, 180deg);
}

span:nth-child(7) {
  transform: translateY(422.25162px) rotate3d(0, 1, 0, 630deg) rotate3d(1, 0, 0, 35deg) rotate3d(0, 0, 1, 180deg);
}

span:nth-child(8) {
  transform: translateY(422.25162px) rotate3d(0, 1, 0, 720deg) rotate3d(1, 0, 0, 35deg) rotate3d(0, 0, 1, 180deg);
}

@keyframes ani {
  100% {
    transform: translate(-50%, -50%) rotate3d(0, 1, 0, 360deg);
  }
}
