$border-width:500px;
html, body {
  height: 100%;
  margin:0; 
  background: rgba(0,0,0,0.5)
}
div{
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(0deg);
  animation: ani 6s linear infinite;
}
span{
  border-color: transparent transparent rgba(255,255,255,0.5) transparent;
  border-width:$border-width/2*1.732 $border-width/2;
  border-style:solid;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -$border-width/2;
  top:50%;
  margin-top:-$border-width/4*1.732;
}
span:before{
  content:'';
  border-color: transparent transparent rgba(0,123,123,0.5) transparent;
  border-width:$border-width/2*1.732 - 8 $border-width/2 - 8;
  border-style:solid;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  margin-top: 4px;
}
@for $i from 1 through 3{
  span:nth-child(#{$i}){
    transform: rotateY(120deg *$i) rotateX(19.5deg);
  }
}
span:nth-child(4){
  transform: rotateX(90deg) translateZ(-408px) translateY(-286px);
}
@keyframes ani{
  100%{
    transform: rotateX(10deg) rotateY(360deg);
  }
}