meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
script src="//code.jquery.com/jquery-1.11.0.min.js"
script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"
script src="../js/script.js"
link href="../css/style.css" rel="stylesheet"

.circles
	-for i in 1..20 do
		.circle
.lines
	-for i in 1..21 do
		.line
.texts
	.text 监听中
	.text 思考中
.buttons
	button 待机
	button 监听
	button 思考中