span{  
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 16px;
  height:16px;
  border:4px solid #333;
  margin-left: -12px;
  margin-top: -12px;
}
.circle{
  position: absolute;
  left: 50%;
  top: 50%;
  animation: circle 48s linear infinite;
}
@for $i from 1 through 12{
  span:nth-child(#{$i}){
    transform: rotate(30deg * $i) translate(100px,0);
    animation:span-#{$i} 48s linear 0.1s *$i infinite;
  }
  @keyframes span-#{$i}{
    0%, 3.2%{  transform:rotate(30deg * $i +15deg) translate(-100px,0);  }
    4.2%, 7.4%{  transform:rotate(30deg * $i +30deg) translate(100px,0);  }
    8.4%, 11.6%{  transform:rotate(30deg * $i +45deg) translate(-100px,0);  }
    12.6%, 15.8%{  transform:rotate(30deg * $i +60deg) translate(100px,0);  }
    16.8%, 20%{  transform:rotate(30deg * $i +75deg) translate(-100px,0);  }
    21%, 24.2%{  transform:rotate(30deg * $i +90deg) translate(100px,0);  }
    25.2%, 28.4%{  transform:rotate(30deg * $i +105deg) translate(-100px,0);  }
    29.4%, 32.6%{  transform:rotate(30deg * $i +120deg) translate(100px,0);  }
    33.6%, 36.8%{  transform:rotate(30deg * $i +135deg) translate(-100px,0);  }
    37.8%, 41%{  transform:rotate(30deg * $i +150deg) translate(100px,0);  }
    42%, 45.2%{  transform:rotate(30deg * $i +165deg) translate(-100px,0);  }
    46.2%, 49.4%{  transform:rotate(30deg * $i +180deg) translate(100px,0);  }
    50.4%, 53.6%{  transform:rotate(30deg * $i +195deg) translate(-100px,0);  }
    54.6%, 57.8%{  transform:rotate(30deg * $i +210deg) translate(100px,0);  }
    58.8%, 62%{  transform:rotate(30deg * $i +225deg) translate(-100px,0);  }
    63%, 66.2%{  transform:rotate(30deg * $i +240deg) translate(100px,0);  }
    67.2%, 70.4%{  transform:rotate(30deg * $i +255deg) translate(-100px,0);  }
    71.4%, 74.6%{  transform:rotate(30deg * $i +270deg) translate(100px,0);  }
    75.6%, 78.8%{  transform:rotate(30deg * $i +285deg) translate(-100px,0);  }
    79.8%, 83%{  transform:rotate(30deg * $i +300deg) translate(100px,0);  }
    84%, 87.2%{  transform:rotate(30deg * $i +315deg) translate(-100px,0);  }
    88.2%, 91.4%{  transform:rotate(30deg * $i +330deg) translate(100px,0);  }
    92.4%, 95.6%{  transform:rotate(30deg * $i +345deg) translate(-100px,0);  }
    96.6%, 100%{  transform:rotate(30deg * $i +360deg) translate(100px,0);  }
  }
}

@keyframes circle{
  100%{
    transform:rotate(360deg);
  }
}