$i:500px;
html,body{
  width:100%;
  height: 100%;
  background: #199065;
  overflow: hidden;
  
}
*,*:before,*:after{
  position: absolute;
  top:50%;
  left: 50%;
  transform:translate3d(-50%,-50%,0);
  content:'';
  height: 2px;
  background:#fff;
}
.triangle1,
.triangle1:before,
.triangle1:after{ 
  width: $i;
}
.triangle1{
  transform:translate3d(-50%,-50%,0) translate3d(0,$i /6 *1.732,0);
}
.triangle1:before{
  transform:translate3d(-50%,-50%,0) rotate(60deg) translate3d(-$i /4,-$i /4 *1.732,0);
}
.triangle1:after{
  transform:translate3d(-50%,-50%,0) rotate(-60deg) translate3d($i /4,-$i /4 *1.732,0);
}
.triangle1:nth-child(2){
  animation:triangle1 5s linear infinite;
}

@keyframes triangle1{
  0%,85%{
    transform:translate3d(-50%,-50%,0) translate3d(0,$i /6 *1.732,0);
  }
  5%,75%{    
    transform:translate3d(-50%,-50%,0) rotate(60deg) translate3d(0,$i /6 *1.732,0);
  }
}
.triangle2,
.triangle2:before,
.triangle2:after{
  width: $i /3;
}
.triangle2{
  $origin: -$i /3 /2 /1.732;
  transform-origin: center $origin; 
}
.triangle2:before{
  transform:translate3d(-50%,-50%,0) rotate(60deg) translate3d(-$i /4 /3,-$i /4 *1.732 /3,0);
}
.triangle2:after{
  transform:translate3d(-50%,-50%,0) rotate(-60deg) translate3d($i /4 /3,-$i /4 *1.732 /3,0);
}
.triangle2:nth-of-type(1){
  animation:triangle2-1 5s linear infinite,
            triangle2-opacity 5s steps(1) infinite;
  
}
@keyframes triangle2-1{
  0%,15%,65%,100%{
    transform:translate3d(-50%,-50%,0) translate3d(0,-$i /3 *1.732,0);
  }
  20%,60%{
    transform:translate3d(-50%,-50%,0) translate3d(0,-$i /3 *1.732,0) rotate(60deg);
  }
}
.triangle2:nth-of-type(2){
  animation:triangle2-2 5s linear infinite,
            triangle2-opacity 5s steps(1) infinite; 
  
}
@keyframes triangle2-2{
  0%,15%,65%,100%{
    transform:translate3d(-50%,-50%,0) translate3d(-$i /3,0,0);
  }
  20%,60%{
    transform:translate3d(-50%,-50%,0) translate3d(-$i /3,0,0) rotate(60deg);
  }
}
.triangle2:nth-of-type(3){
  animation:triangle2-3 5s linear infinite,
            triangle2-opacity 5s steps(1) infinite; 
}
@keyframes triangle2-3{
  0%,15%,65%,100%{
    transform:translate3d(-50%,-50%,0) translate3d($i /3,0,0);
  }
  20%,60%{
    transform:translate3d(-50%,-50%,0) translate3d($i /3,0,0) rotate(60deg);
  }
}
@keyframes triangle2-opacity{
  0%,65%{
    opacity:0;
  }
  15%{
    opacity:1;
  }
}

.triangle3,
.triangle3:before,
.triangle3:after{
  width: $i /9;
}
.triangle3{
  $origin: -$i /9 /2 /1.732;
  transform-origin: center $origin; 
}
.triangle3:before{
  transform:translate3d(-50%,-50%,0) rotate(60deg) translate3d(-$i /4 /9,-$i /4 *1.732 /9,0);
}
.triangle3:after{
  transform:translate3d(-50%,-50%,0) rotate(-60deg) translate3d($i /4 /9,-$i /4 *1.732 /9,0);
}
.triangle3:nth-of-type(1){
  animation:triangle3-1 5s linear infinite,
            triangle3-opacity 5s steps(1) infinite;
  
}
@keyframes triangle3-1{
  0%,30%,50%{
    transform:translate3d(-50%,-50%,0) translate3d(0,-$i /9 *1.732,0);
  }
  35%,45%,100%{
    transform:translate3d(-50%,-50%,0) translate3d(0,-$i /9 *1.732,0) rotate(60deg);
  }
}
.triangle3:nth-of-type(2){
  animation:triangle3-2 5s linear infinite,
            triangle3-opacity 5s steps(1) infinite; 
  
}
@keyframes triangle3-2{
  0%,30%,50%{
    transform:translate3d(-50%,-50%,0) translate3d(-$i /9,0,0);
  }
  35%,45%,100%{
    transform:translate3d(-50%,-50%,0) translate3d(-$i /9,0,0) rotate(60deg);
  }
}
.triangle3:nth-of-type(3){
  animation:triangle3-3 5s linear infinite,
            triangle3-opacity 5s steps(1) infinite; 
}
@keyframes triangle3-3{
  0%,30%,50%{
    transform:translate3d(-50%,-50%,0) translate3d($i /9,0,0);
  }
  35%,45%,100%{
    transform:translate3d(-50%,-50%,0) translate3d($i /9,0,0) rotate(60deg);
  }
}

.triangle3:nth-of-type(4){
  animation:triangle3-4 5s linear infinite,
            triangle3-opacity 5s steps(1) infinite; 
}
@keyframes triangle3-4{
  0%,30%,50%{
    transform:translate3d(-50%,-50%,0) translate3d(-$i /9,-$i /9 /1.732 *2,0) rotate(60deg);
  }
  35%,45%,100%{
    transform:translate3d(-50%,-50%,0) translate3d(-$i /9,-$i /9 /1.732 *2,0) rotate(120deg);
  }
}
.triangle3:nth-of-type(5){
  
  animation:triangle3-5 5s linear infinite,
            triangle3-opacity 5s steps(1) infinite; 
}
@keyframes triangle3-5{
  0%,30%,50%{
    transform:translate3d(-50%,-50%,0) translate3d($i /9,-$i /9 /1.732 *2,0) rotate(60deg);
  }
  35%,45%,100%{
    transform:translate3d(-50%,-50%,0) translate3d($i /9,-$i /9 /1.732 *2,0) rotate(120deg);
  }
}
.triangle3:nth-of-type(6){
  
  animation:triangle3-6 5s linear infinite,
            triangle3-opacity 5s steps(1) infinite; 
}
@keyframes triangle3-6{
  0%,30%,50%{
    transform:translate3d(-50%,-50%,0) translate3d(0,$i /9 /1.732,0) rotate(60deg);
  }
  35%,45%,100%{
    transform:translate3d(-50%,-50%,0) translate3d(0,$i /9 /1.732,0) rotate(120deg);
  }
}
@keyframes triangle3-opacity{
  0%,50%{
    opacity:0;
  }
  30%{
    opacity:1;
  }
}