meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"
link href="../css/style.css" rel="stylesheet"
.icon
  -for i in 1..8 do
    i
  .circle
  .line.line1
  .line.line2
  .line.line3
  .line.line4
  .line.line5