div{
  display: flex;
  width: 210px;
  height: 210px;
  background:#ccc;
  margin-bottom: 10px;
}
span{
  width: 30px;
  height: 30px;
}
@for $i from 1 through 8{
  span:nth-child(#{$i}){
    background:hsl(60 *$i,50%,50%);
  }
}
.align-items1{
  align-items: baseline;
}
.align-items2{
  align-items: center;
}
.align-items3{
  align-items: flex-end;
}
.align-items4{
  align-items: flex-start;
}
.align-items5{
  align-items: stretch;
}

.align-content{
  flex-flow: row wrap;
  width: 80px;
}
.align-content1{
  align-content: flex-start;
}
.align-content2{
  align-content: flex-end;
}
.align-content3{
  align-content: center;
}
.align-content4{
  align-content: space-between;
}
.align-content5{
  align-content: space-around;
}
.align-content6{
  align-content: stretch;
}

.align-self span:nth-child(1){
  align-self:baseline
} 
.align-self span:nth-child(2){
  align-self:center
} 
.align-self span:nth-child(3){
  align-self:flex-end
} 
.align-self span:nth-child(4){
  align-self:flex-start
} 
.align-self span:nth-child(5){
  align-self:stretch
} 
.align-self span:nth-child(6){
  align-self:auto
} 


.flex-direction1{
  flex-direction:row;
}
.flex-direction2{
  flex-direction:row-reverse;
}
.flex-direction3{
  flex-direction:column;
}
.flex-direction4{
  flex-direction:column-reverse;
}

.flex-flow1{
  flex-flow:row
}
.flex-flow2{
  flex-flow:row-reverse
}
.flex-flow3{
  flex-flow:column
}
.flex-flow4{
  flex-flow:column-reverse
}
.flex-flow5{
  flex-flow:wrap
}
.flex-flow6{
  flex-flow:wrap-reverse
}

@for $i from 1 through 6{
  .flex-grow span:nth-child(#{$i}){
    flex-grow:$i;
  }
}

@for $i from 1 through 6{
  .flex span:nth-child(#{$i}){
    flex:1 1 #{$i}em;
  }
}

@for $i from 1 through 6{
  .flex-shrink span:nth-child(#{$i}){
    flex-shrink:-$i+6;
  }
}

@for $i from 1 through 6{
  .flex-basis span:nth-child(#{$i}){
    flex-basis:-$i+6;
  }
}

.flex-wrap1{
  flex-wrap:nowrap;
}
.flex-wrap2{
  flex-wrap:wrap;
}
.flex-wrap3{
  flex-wrap:wrap-reverse ;
}
.justify-content1{
  justify-content:flex-start  
}
.justify-content2{
  justify-content:flex-end 
}
.justify-content3{
  justify-content:space-between 
}
.justify-content4{
  justify-content:space-around 
}
.justify-content5{
  justify-content:center 
}
@for $i from 1 through 6{
  .order span:nth-child(#{$i}){
    order:-$i+3;
  }
}