div {
  width: 160px;
  height: 160px;
  background: #333;
  float: left;
  margin: 10px;
}

div:nth-child(1) {
  -webkit-clip-path: polygon(160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px, 160px 80.0px);
}

div:nth-child(2) {
  -webkit-clip-path: polygon(0px 80.0px, 160px 80.0px, 0px 80.0px, 160px 80.0px, 0px 80.0px, 160px 80.0px, 0px 80.0px, 160px 80.0px, 0px 80.0px, 160px 80.0px, 0px 80.0px, 160px 80.0px, 0px 80.0px, 160px 80.0px, 0px 80.0px, 160px 80.0px, 0px 80.0px, 160px 80.0px, 0px 80.0px, 160px 80.0px);
}

div:nth-child(3) {
  -webkit-clip-path: polygon(40.0px 149.28203px, 40.0px 10.71797px, 160px 80.0px, 40.0px 149.28203px, 40.0px 10.71797px, 160px 80.0px, 40.0px 149.28203px, 40.0px 10.71797px, 160px 80.0px, 40.0px 149.28203px, 40.0px 10.71797px, 160px 80.0px, 40.0px 149.28203px, 40.0px 10.71797px, 160px 80.0px, 40.0px 149.28203px, 40.0px 10.71797px, 160px 80.0px, 40.0px 149.28203px, 40.0px 10.71797px);
}

div:nth-child(4) {
  -webkit-clip-path: polygon(80px 160px, 0px 80.0px, 80.0px 0px, 160px 80.0px, 80.0px 160px, 0px 80.0px, 80.0px 0px, 160px 80.0px, 80.0px 160px, 0px 80.0px, 80.0px 0px, 160px 80.0px, 80.0px 160px, 0px 80.0px, 80.0px 0px, 160px 80.0px, 80.0px 160px, 0px 80.0px, 80.0px 0px, 160px 80.0px);
}

div:nth-child(5) {
  -webkit-clip-path: polygon(104.72136px 156.08452px, 15.27864px 127.02282px, 15.27864px 32.97718px, 104.72136px 3.91548px, 160px 80.0px, 104.72136px 156.08452px, 15.27864px 127.02282px, 15.27864px 32.97718px, 104.72136px 3.91548px, 160px 80.0px, 104.72136px 156.08452px, 15.27864px 127.02282px, 15.27864px 32.97718px, 104.72136px 3.91548px, 160px 80.0px, 104.72136px 156.08452px, 15.27864px 127.02282px, 15.27864px 32.97718px, 104.72136px 3.91548px, 160px 80.0px);
}

div:nth-child(6) {
  -webkit-clip-path: polygon(120px 149.28203px, 40.0px 149.28203px, 0px 80.0px, 40.0px 10.71797px, 120.0px 10.71797px, 160px 80.0px, 120.0px 149.28203px, 40.0px 149.28203px, 0px 80.0px, 40.0px 10.71797px, 120.0px 10.71797px, 160px 80.0px, 120.0px 149.28203px, 40.0px 149.28203px, 0px 80.0px, 40.0px 10.71797px, 120.0px 10.71797px, 160px 80.0px, 120.0px 149.28203px, 40.0px 149.28203px);
}

div:nth-child(7) {
  -webkit-clip-path: polygon(129.87918px 142.54652px, 62.19833px 157.99423px, 7.92249px 114.7107px, 7.92249px 45.2893px, 62.19833px 2.00577px, 129.87918px 17.45348px, 160px 80.0px, 129.87918px 142.54652px, 62.19833px 157.99423px, 7.92249px 114.7107px, 7.92249px 45.2893px, 62.19833px 2.00577px, 129.87918px 17.45348px, 160px 80.0px, 129.87918px 142.54652px, 62.19833px 157.99423px, 7.92249px 114.7107px, 7.92249px 45.2893px, 62.19833px 2.00577px, 129.87918px 17.45348px);
}

div:nth-child(8) {
  -webkit-clip-path: polygon(136.56854px 136.56854px, 80px 160px, 23.43146px 136.56854px, 0px 80.0px, 23.43146px 23.43146px, 80.0px 0px, 136.56854px 23.43146px, 160px 80.0px, 136.56854px 136.56854px, 80.0px 160px, 23.43146px 136.56854px, 0px 80.0px, 23.43146px 23.43146px, 80.0px 0px, 136.56854px 23.43146px, 160px 80.0px, 136.56854px 136.56854px, 80.0px 160px, 23.43146px 136.56854px, 0px 80.0px);
}

div:nth-child(9) {
  -webkit-clip-path: polygon(141.28356px 131.42301px, 93.89185px 158.78462px, 40.0px 149.28203px, 4.82459px 107.36161px, 4.82459px 52.63839px, 40.0px 10.71797px, 93.89185px 1.21538px, 141.28356px 28.57699px, 160px 80.0px, 141.28356px 131.42301px, 93.89185px 158.78462px, 40.0px 149.28203px, 4.82459px 107.36161px, 4.82459px 52.63839px, 40.0px 10.71797px, 93.89185px 1.21538px, 141.28356px 28.57699px, 160px 80.0px, 141.28356px 131.42301px, 93.89185px 158.78462px);
}

div:nth-child(10) {
  -webkit-clip-path: polygon(144.72136px 127.02282px, 104.72136px 156.08452px, 55.27864px 156.08452px, 15.27864px 127.02282px, 0px 80.0px, 15.27864px 32.97718px, 55.27864px 3.91548px, 104.72136px 3.91548px, 144.72136px 32.97718px, 160px 80.0px, 144.72136px 127.02282px, 104.72136px 156.08452px, 55.27864px 156.08452px, 15.27864px 127.02282px, 0px 80.0px, 15.27864px 32.97718px, 55.27864px 3.91548px, 104.72136px 3.91548px, 144.72136px 32.97718px, 160px 80.0px);
}

div:nth-child(11) {
  -webkit-clip-path: polygon(147.30028px 123.25127px, 113.2332px 152.77056px, 68.61481px 159.18572px, 27.61114px 140.45997px, 3.24056px 102.5386px, 3.24056px 57.4614px, 27.61114px 19.54003px, 68.61481px 0.81428px, 113.2332px 7.22944px, 147.30028px 36.74873px, 160px 80.0px, 147.30028px 123.25127px, 113.2332px 152.77056px, 68.61481px 159.18572px, 27.61114px 140.45997px, 3.24056px 102.5386px, 3.24056px 57.4614px, 27.61114px 19.54003px, 68.61481px 0.81428px, 113.2332px 7.22944px);
}

div:nth-child(12) {
  -webkit-clip-path: polygon(149.28203px 120px, 120px 149.28203px, 80px 160px, 40.0px 149.28203px, 10.71797px 120.0px, 0px 80.0px, 10.71797px 40.0px, 40.0px 10.71797px, 80.0px 0px, 120.0px 10.71797px, 149.28203px 40.0px, 160px 80.0px, 149.28203px 120.0px, 120.0px 149.28203px, 80.0px 160px, 40.0px 149.28203px, 10.71797px 120.0px, 0px 80.0px, 10.71797px 40.0px, 40.0px 10.71797px);
}

div:nth-child(13) {
  -webkit-clip-path: polygon(150.83648px 117.17785px, 125.44518px 145.83871px, 89.64293px 159.41671px, 51.63161px 154.8013px, 20.11914px 133.04981px, 2.32465px 99.14525px, 2.32465px 60.85475px, 20.11914px 26.95019px, 51.63161px 5.1987px, 89.64293px 0.58329px, 125.44518px 14.16129px, 150.83648px 42.82215px, 160px 80.0px, 150.83648px 117.17785px, 125.44518px 145.83871px, 89.64293px 159.41671px, 51.63161px 154.8013px, 20.11914px 133.04981px, 2.32465px 99.14525px, 2.32465px 60.85475px);
}

div:nth-child(14) {
  -webkit-clip-path: polygon(152.07751px 114.7107px, 129.87918px 142.54652px, 97.80167px 157.99423px, 62.19833px 157.99423px, 30.12082px 142.54652px, 7.92249px 114.7107px, 0px 80.0px, 7.92249px 45.2893px, 30.12082px 17.45348px, 62.19833px 2.00577px, 97.80167px 2.00577px, 129.87918px 17.45348px, 152.07751px 45.2893px, 160px 80.0px, 152.07751px 114.7107px, 129.87918px 142.54652px, 97.80167px 157.99423px, 62.19833px 157.99423px, 30.12082px 142.54652px, 7.92249px 114.7107px);
}

div:nth-child(15) {
  -webkit-clip-path: polygon(153.08364px 112.53893px, 133.53045px 139.45159px, 104.72136px 156.08452px, 71.63772px 159.56175px, 40.0px 149.28203px, 15.27864px 127.02282px, 1.74819px 96.63294px, 1.74819px 63.36706px, 15.27864px 32.97718px, 40.0px 10.71797px, 71.63772px 0.43825px, 104.72136px 3.91548px, 133.53045px 20.54841px, 153.08364px 47.46107px, 160px 80.0px, 153.08364px 112.53893px, 133.53045px 139.45159px, 104.72136px 156.08452px, 71.63772px 159.56175px, 40.0px 149.28203px);
}

div:nth-child(16) {
  -webkit-clip-path: polygon(153.91036px 110.61467px, 136.56854px 136.56854px, 110.61467px 153.91036px, 80px 160px, 49.38533px 153.91036px, 23.43146px 136.56854px, 6.08964px 110.61467px, 0px 80.0px, 6.08964px 49.38533px, 23.43146px 23.43146px, 49.38533px 6.08964px, 80.0px 0px, 110.61467px 6.08964px, 136.56854px 23.43146px, 153.91036px 49.38533px, 160px 80.0px, 153.91036px 110.61467px, 136.56854px 136.56854px, 110.61467px 153.91036px, 80.0px 160px);
}

div:nth-child(17) {
  -webkit-clip-path: polygon(154.59778px 108.89933px, 139.12071px 133.89565px, 115.65907px 151.61306px, 87.38147px 159.65873px, 58.10696px 156.94605px, 31.78923px 143.84138px, 11.98263px 122.11457px, 1.36215px 94.69996px, 1.36215px 65.30004px, 11.98263px 37.88543px, 31.78923px 16.15862px, 58.10696px 3.05395px, 87.38147px 0.34127px, 115.65907px 8.38694px, 139.12071px 26.10435px, 154.59778px 51.10067px, 160px 80.0px, 154.59778px 108.89933px, 139.12071px 133.89565px, 115.65907px 151.61306px);
}

div:nth-child(18) {
  -webkit-clip-path: polygon(155.17541px 107.36161px, 141.28356px 131.42301px, 120px 149.28203px, 93.89185px 158.78462px, 66.10815px 158.78462px, 40.0px 149.28203px, 18.71644px 131.42301px, 4.82459px 107.36161px, 0px 80.0px, 4.82459px 52.63839px, 18.71644px 28.57699px, 40.0px 10.71797px, 66.10815px 1.21538px, 93.89185px 1.21538px, 120px 10.71797px, 141.28356px 28.57699px, 155.17541px 52.63839px, 160px 80.0px, 155.17541px 107.36161px, 141.28356px 131.42301px);
}

div:nth-child(19) {
  -webkit-clip-path: polygon(155.66538px 105.97596px, 143.13124px 129.13702px, 123.75585px 146.97332px, 99.63884px 157.55202px, 73.39365px 159.72676px, 47.86437px 153.26187px, 25.81747px 138.85791px, 9.6421px 118.07579px, 1.0911px 93.16757px, 1.0911px 66.83243px, 9.6421px 41.92421px, 25.81747px 21.14209px, 47.86437px 6.73813px, 73.39365px 0.27324px, 99.63884px 2.44798px, 123.75585px 13.02668px, 143.13124px 30.86298px, 155.66538px 54.02404px, 160px 80.0px, 155.66538px 105.97596px);
}

div:nth-child(20) {
  -webkit-clip-path: polygon(156.08452px 104.72136px, 144.72136px 127.02282px, 127.02282px 144.72136px, 104.72136px 156.08452px, 80px 160px, 55.27864px 156.08452px, 32.97718px 144.72136px, 15.27864px 127.02282px, 3.91548px 104.72136px, 0px 80.0px, 3.91548px 55.27864px, 15.27864px 32.97718px, 32.97718px 15.27864px, 55.27864px 3.91548px, 80.0px 0px, 104.72136px 3.91548px, 127.02282px 15.27864px, 144.72136px 32.97718px, 156.08452px 55.27864px, 160px 80.0px);
}
